body {
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    height: 50px;
    background-color: yellowgreen;
}

nav {
    display: none;
    background-color: teal;
}

main {
    display: flex;
    flex-wrap: wrap;
}

footer {
    height: 100px;
    background-color: tomato;
}

.hamburger-menu {
    
}

.date {
    background-color: pink;
}

.first-news {
    width: 100%;
    background-color: yellowgreen;
}

.main-news {
    background-color: purple;
}

.main-news .news {
    display: flex;
    flex-wrap: wrap;
}

.other-news {
    display: flex;
    flex-wrap: wrap;
}

.main-section {
    width: 100%;
    background-color: blueviolet;
}

.main-col {
    background-color: slategray;
}

.main-col .news {
    display: flex;
    flex-wrap: wrap;
}

.side-col {
    display: flex;
    flex-wrap: wrap;
}

.news {
    padding: 10px;
}

.news img {
    width: 100%;
}

.news-info {
    /* width: 100%; */
}

.news-img {
    /* width: 100%; */
}

@media (min-width: 480px) {
    .main-news .news {
        flex-wrap: nowrap;
    }

    .other-news {
        flex-wrap: nowrap;
    }

    .main-col .news {
        flex-wrap: nowrap;
    }

    .side-col {
        flex-wrap: nowrap;
    }
}

@media (min-width: 900px) {
    
}